PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=github_analyzer
GITHUB_TOKEN=your_personal_access_token_here

# Redis
REDIS_URL=redis://localhost:6379

# Cache TTLs (in seconds)
REDIS_TTL_GITHUB=3600
REDIS_TTL_DB_SINGLE=600
REDIS_TTL_DB_LIST=300
